	/*h font*/
	@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
	/*p font*/
	@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Viaoda+Libre&display=swap');
		*a{
			text-decoration: none;
		}

		body{
			background-color: #fff;
            margin:0;
            padding:0;
		}

        .scroll{
			background-color : #000;
			text-align: center;
			position: fixed; 
			top: 120px; 
			margin-right: -720px; 
			text-align:center; 
			width: 60px;
            z-index: 3;
		}

        *{
            margin: 0; 
            padding: 0;
            box-sizing: border-box;
            /* font-family: 'Roboto', sans-serif; */
        }
                

        header{
            width: 100vw;
            height: 80px;
            /* min-height: 30px; */
            
        
            
        }
        
        header nav{
        position: absolute;
        top:0;
        /* margin-left: calc((100vw - 1440px) / 2); */
        height: 80px;
        width: 100%;
        /*	background-color: red;*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        
        position: fixed;
        background-color: #000000;
        
        }
        header nav h1{
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -1px;
        color: white;
        margin-left: 120px;
        }
        
        header nav ul{
        display: flex;
        list-style: none;
        gap: 68px;
        margin-right: 120px;
        }
        header nav a{
        font-size: 16px;
        letter-spacing: -1px;
        text-decoration: none;
        color: white;
        }
    
        /* SCROLL */
		/* .side-bar-w{
			color : #fff;
			font-size: 20px;
			font-family: 'Viaoda Libre', cursive;
		}
		.side-bar-p{
			writing-mode: vertical-rl;
			text-orientation: mixed;
			font-size: 10px;
			color : #ffffff;
			font-family: 'Viaoda Libre', cursive;
		}
		.scroll a:hover {
			text-decoration: none;
			opacity: 50%;
		} */

        .header{
            background-color:#000;
            height:800px;
        }

		.main-head-page .main-head-logoname h2{
			background:none;
        	padding-top: 200px;
			font-size: 180px;
			letter-spacing:50px;
			font-family: 'Viaoda Libre', cursive;
		}
        .logobox{
            position:absolute;
            margin-top:500px;
            
        }
		.logobox p{
			font-size: 22px;
            letter-spacing:18px;
			margin-top: 4px;
			margin-bottom: 128px;
			font-family: 'Viaoda Libre', cursive;
		}
		.main-head-page{
			text-align: center;
            color:#fff;
		}


/* centerheadcon */
.centerheadcon{
    width: 100%;
	height : 200px;
	background-color:#fff;
	font-family: 'Viaoda Libre', cursive;

    flex-flow:row wrap;
    display:flex;
    align-items: center;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
    }
   .centerhead1 {
        color:#000;
        margin-left: 10%;
        margin-top:50px;
        font-size:40px;
    }
    .centerhead2 {
        color:#000;
        margin-right: 10%;
        font-size:16px;
        margin-top:50px;
    }
	

    .center-p5{
        background-color: #fff;
        width:100%;
        height: 250px;
        font-size:3.5vw;
        font-family: 'Viaoda Libre', cursive;
        color:#000;
    }

    .center-p5-1{
        padding-top:20px;
        margin-left:300px;
    }
    .center-p5-2{
        margin-left:150px;
    }
    .center-p5-3{
        margin-left:350px;
    }
		/*center*/

        /*element*/
        /* .center-p5{
            background-color: green;
            width:50%;
            height: 600px;
            float: left;
            vertical-align: middle;
			text-align: center;
            display: inline-block;
        }
		.codepen {
  		display: flex;
  		justify-content: center;
		}

		.bg {
  		position: absolute;
  		left: -25vw;
  		top: -200vw;
  		width: 120vw;
  		height: 100vw;
		}

		span {
  		position: sticky;
  		top: calc(50% - 50px);
  		height: 300px;
  		display: inline-flex;
  		align-items: center;
  		mix-blend-mode: overlay;

          font-size: 2.5vw;
		}

		.c3 {
  		margin-top: 0vw;
    	color: #000;
   		opacity: 50%;
    	font-family: 'Viaoda Libre', cursive;
		}

		.c4 {
  		margin-top: 5vw;
    	color: #000;
    	opacity: 50%;
    	font-family: 'Viaoda Libre', cursive;
		}

		.c5 {
  		margin-top: 10vw;
    	color: #000;
    	opacity: 50%;
    	font-family: 'Viaoda Libre', cursive;
		} */

	
/* center6 */
.center-p6{
    background-color: #fff;
    width:100%;
    height: 250px;
    font-size:3.5vw;
    font-family: 'Viaoda Libre', cursive;
    color:#fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.center-p6-1{
    text-align: right;
    margin-right:400px;
    padding-top: 60px;
}
.center-p6-2{
    text-align: right;
    margin-right:400px
}

.center-p7{
    background-color: black;
    width:100%;
    height: 500px;
    font-size:3vw;
    font-family: 'Viaoda Libre', cursive;
    color:#fff;
}
.center-p7-1{
    text-align: left;
    margin-left:150px;
    padding-top:40px;
}

.flowerbox{
    position:absolute;
    margin-top:180px;
    margin-left:850px;
    width:60%;
}

/* .c6 {
    margin-top: 15vw;
  color: #fff;
  opacity: 50%;
  font-family: 'Viaoda Libre', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .c7 {
    margin-top: 20vw;
  color: #fff;
  opacity: 50%;
  font-family: 'Viaoda Libre', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  } */




        /* flowerbox */
        /* .flowerbox{
            height:600px;
            background-color: black;
        } */
        

        /* newsbox */
        .newsbox{
            height:500px;
            background-color: #0d0d0d;
            
        }
        .newsbox-head{
            height:100px;
            z-index: 2;
        }
        .newsbox-head h2{
           padding-top:30px;
           padding-left:120px;
           color:#fff;
        }
        

        .nb-con{
            color:#fff;
            text-align:center;
        }
        .line{
            border-bottom:1px solid #fff;
        }
        .newsbox1{
            width:30%;
            float: left;
            background-color:#0d0d0d;
            height:400px;
        }
        .newsbox2{
            width:30%;
            float: left;
            background-color:#0d0d0d;
            height:400px;
    
        }
        .newsbox3{
            width:30%;
            float: left;
            background-color:#0d0d0d;
            height:400px;
            
        }



        /*carousel*/
        .main-head2{
			background-image : url(https://media-exp1.licdn.com/dms/image/C4D1BAQEnsDP4f_Op3g/company-background_10000/0/1611673315165?e=2159024400&v=beta&t=sObDItXAYugzWJecVO7C-T_XOVDWIBnkbX9ovCMnN4w);
			background-repeat : no-repeat;
			background-size: cover;
		}

		.main-head-page .main-head-logoname h2{
			background:none;
        	padding-top: 120px;
			font-size: 180px;
			color:white;
			font-family: 'Viaoda Libre', cursive;

		}

		.main-head-page .main-head-logoname h3{
			font-size: 22px;
			color:white;
			margin-top: 4px;
			margin-bottom: 128px;
			font-family: 'Viaoda Libre', cursive;
		}

        .main-head-page{
			text-align: center;
		}

		.carousel-item{
			height:280px;
			background-color: black;
			background-color: rgba( 0, 0, 0, 0 );
		}

		.carousel{
			background: linear-gradient(to top, black, black 40%, transparent);
		}

		.carousel-item .intro h4{
			font-size: 40px;
			color:white;
			font-family: 'Viaoda Libre', cursive;
		}

		.carousel-item .intro h5{
			font-size: 22px;
			color:white;
			margin-top: 18px;
			margin-bottom: 48px;
			font-family: 'Viaoda Libre', cursive;
		}

		.carousel-item .intro{
			display: inline-block;
			vertical-align: middle;
		}

		.carousel-item .helper{
			display: inline-block;
			height: 100%;
			vertical-align:middle;
		}




















		/*하단*/
		footer{
            height: 100px;
            width: 100vw;
            display: flex;
         }
         .footerLeft {
            width:25%;
            background-color: #0d0d0d;
            border-right: 0.8px solid #fff;
         }
         .footerLeft > p {
            font-family: 'Playfair Display', serif;
            font-size: 24px;
            font-weight: 400;
            color: white;
            text-align:center;
            padding-top:40px;
            border-top: 0.8px solid white;
         }
         
         .footerCenter {
            width: 40%;
            background-color: #0d0d0d;
         }
         .footerCenter > p {
            font-family: 'Playfair Display', serif;
            font-size: 16px;
            font-weight: 400;
            color: white;
            line-height: 138%;
            letter-spacing: 10%;
            padding-top: 30px;
            padding-left: 36px;
            border-top: 0.8px solid white;
         }
         .footerRight {
            width: 35%;
            background-color: white;
            margin-top: 40px;
            margin-right: 30px;
            text-align: right;
         }
         .footerRight > img{
            width: 62px;
            height: 26px;
            padding-right: 8px;
         }
         .footerRight > h6 {
            float: right;
         }
         .footerRight > h6 > .min{
            font-size: 9px;
         }
         .footerRight > h6 p{
            font-size: 14px;
         }
         .footerRight > h6:first-child {
            font-size: 9px;
         }
         .footerRight > p {
            font-family: 'Roboto', sans-serif;
            font-size: 8px;
            font-weight: 300;
            color: #1F1F1F;
            text-align:right;
            padding-top: 8px;
         }